<swiper-container init="false" >
    <swiper-slide>
        <div class="slide-custom" style="position: relative;">
            <div class="slide-caption" >
                <h2>Latest Earthquakes</h2>
                <h4>past 24 hours, 7 days, 1 month</h4>   
                <a href="https://earthquake.usgs.gov/earthquakes/map/" target="_blank" class="link-to-external-page">View recent earthquakes worldwide</a>
            </div>
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/thumbnails/image/newEHPbanner.jpg?itok=EvvsCt_O&quot;" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="slide-custom">
            <div class="slide-caption" style="left: 35% !important;" >
                <h2>Significant Earthquakes Archive</h2>
                <h4>lists of annual impactful earthquakes</h4>   
                <a href="https://earthquake.usgs.gov/earthquakes/browse/significant.php" target="_blank" class="link-to-external-page">View recent earthquakes worldwide</a>
            </div>
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/media/images/historic-seis-Australia.png?h=5066e6dc&itok=gUmV68C0&quot" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="slide-custom">
            <div class="slide-caption" style="left: 25% !important;" >
                <h2>The 2023 Kahramanmaraş, Turkey, Earthquake Sequence</h2>
                <h4>a new interactive geonarrative</h4>   
                <a href="https://earthquake.usgs.gov/storymap/index-turkey2023.html" target="_blank" class="link-to-external-page">View recent earthquakes worldwide</a>
            </div>
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/media/images/Turkey-tectonic-map.jpg?itok=aIqzjVw9" alt="">
        </div>
    </swiper-slide>
  </swiper-container>
  