<swiper-container >
    <swiper-slide>
        <div class="slide-custom" style="position: relative;">
            <div style="position: absolute; right: 50%; bottom: 50%; background-color: aqua;">
                <h2>div</h2>   
            </div>
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/thumbnails/image/newEHPbanner.jpg?itok=EvvsCt_O&quot;" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="slide-custom">
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/media/images/historic-seis-Australia.png?h=5066e6dc&itok=gUmV68C0&quot" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="slide-custom">
            <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/carousel/public/media/images/Turkey-tectonic-map.jpg?itok=aIqzjVw9" alt="">
        </div>
    </swiper-slide>
  </swiper-container>
  