<div class="card" style="margin: 5em;">
    <div class="card__body" style="width: 100%; height: 100%">
        <div class="card__body__header">
            <p class="card__body__header__title">65 km ESE of Pedro Bay, Alaska</p>
            <p class="card__body__header__magnitude">M 1.5</p>
        </div>
        <div class="card__body__detail">
            <p class="card__body__detail__geolocation">42.011°N 82.642°E</p>
            <p class="card__body__detail__date_formatted">Thursday 04, April 2024 at 12:34:56</p>
        </div>
        <div class="card__body__footer">
            <p-button label="See official page" icon="pi pi-globe" iconPos="right" size="small" [text]="true" [raised]="true" severity="info"></p-button>
            <p-button label="View details" icon="pi pi-info-circle" iconPos="right" size="small" [raised]="true" severity="secondary"></p-button>
        </div>
    </div>
</div>