<div class="card">
    <div class="card__body" style="width: 100%; height: 100%">
        <div class="card__body__header">
            <p class="card__body__header__title">{{ feature.title }}</p>
            <p class="card__body__header__magnitude">M. {{ feature.magnitude }}</p>
        </div>
        <div class="card__body__detail">
            <p class="card__body__detail__geolocation">{{feature.longitude}}°N {{ feature.latitude }}°E</p>
            <p class="card__body__detail__date_formatted">{{ feature.created_at | dateFormat }}</p>
        </div>
        <div class="card__body__footer">
            <a href="{{feature.url}}" target="_blank" >
                <p-button label="See official page" icon="pi pi-globe" [outlined]="true" iconPos="right" size="small" [text]="true" [raised]="true" severity="info"></p-button>
            </a>
            <p-button label="View details" (click)="showDialog()" icon="pi pi-info-circle" iconPos="right" size="small" [raised]="true" severity="secondary"></p-button>
        </div>
    </div>
</div>

<app-features-modal [feature] = "feature" [visible]="visible" (onModalHide)="visible = !visible" ></app-features-modal>

