@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

@layer reset, primeng;

@layer reset{
    button{
        &:focus{
            box-shadow: none;
        }
    }
    p{
        margin: 0;
    }
}